:root {
    --prim: white;
    --bg: #16111a;
    --acc: #ffccf7;
}

body {
    background-color: var(--bg);
    color: var(--prim);
}

header {
    display: flex;
    align-items: center;
    padding: 20px;
}

header::before,
header::after {
  content: "";
  flex: 1;
  border: 1px solid var(--prim);
  margin: 0 20px;
}

.nav-button {
    padding: 0 17px;
    font-family: 'Libre Baskerville', serif;
    font-size: 14px;
    position: relative;
    display: block;
    text-decoration: none;
    color: inherit;
}

.nav-button img {
    position: absolute;
    width: 60%;
    object-fit: contain;
    visibility: hidden;
}

.nav-button:hover img {
    visibility: visible;
}

.nav-button:hover span {
    visibility: hidden;
}

.main {
    width: 1000px;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
}

@media (max-width: 1100px) {
    .main {width: calc(1000% / 11)}
}

.main h1 {
    text-align: center;
    font-size: 60px;
    font-weight: 400;
    margin: 10px 0px;
}

.date {
    text-align: center;
    font-size: 14px;
    font-style: italic;
    margin-bottom: 30px;
}

.main p {
    font-size: 16px;
    line-height: 1.5;
    word-spacing: 1px;
    overflow-wrap: anywhere;
}

.main h2 {
    font-size: 32px;
    font-weight: 700;
    color: #ffdffa;
}

#title-container {
    height: 280px;
}

#title, #caret {
    font-size: 72px;
    white-space: pre-line;
}

#caret {
    color: var(--acc);
    font-weight: 400;
    margin-left: -8px;
}

.blinking {
    animation: blink 1.2s step-start infinite;
}

@keyframes blink {
    50% {opacity: 0;}
}

.social img {
    height: 25px;
    vertical-align: middle;
}

.social {
    text-decoration: inherit;
    padding: 10px 30px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    transition: 0.2s;
}

.social:hover {
    background-color: black;
    filter: invert();
}

#headshot {
    width: 250px;
    height: 300px;
    margin: 0 0 20px 20px;
    background-color: white;
    float: right;
}
